div(class="footer")
	div(class="social_wrap")
		div(class="social_wrap_two")
			a(class="twitter_link" href="https://twitter.com/adamfredie")
				span(class="icon-twitter")
			a(class="github-circled" href="https://github.com/adamfredie")		
				span(class="icon-github-circled")
			a(class="mail_link" href="mailto:whackyapple@gmail.com?Subject=Hello")		
				span(class="icon-mail")		
	h4 cc attribute janus blog		
	img(src="/images/cc.svg" class="cc_logo")
	