header
	a(href="/blog")
		img(class="logo" src="/images/me.jpg" href="http://localhost:3000/blog/")
	div(class="right_wrap")
		h1(class="global_head") Adam's Journal
		nav(class="navigation")
			ul
				li(class="list_items itme_two") 
					a(href="/blog") Home
				//- li(class="list_items itme_one")
					a(href="/blog/new#title") New	
				li(class="list_items itme_three") 
					a(href="/about") About