extends ./layout.jade
block content
   div(class="clearfix") 
    div
      form(action="/blog", method="POST")
        div
          label(for="title", placeholder="Title")
          input(id="title", class="user_input", autofocus="autofocus", type="text", placeholder="Title", name="title")
        div
          label(for="category", placeholder="Category")
          input(class="user_input", type="text", placeholder="Category", name="category")
        div
          label(for="content", placeholder="Content")
          textarea(class="user_input_content", placeholder="Content", name="content")
        div
          input(class="submit_button", type="submit", value="Post")
